---
import type { GetStaticPaths } from "astro";
import { db, Categories } from "astro:db";

import Layout from '@layouts/Layout.astro';
import NavBarCategories from '@components/NavBarCategories.astro';

export const getStaticPaths = (async () => {
    const categories = await db.select().from(Categories);
    const pages = categories.map(({id, label})=> {
        return {params: {id}, props: {name: label}};
    });

    return [...pages];
}) satisfies GetStaticPaths;

const {name} = Astro.props;
---

<Layout>
    <header class="pt-5">
        <h1 class="text-3xl font-bold text-neutral-700">Nuestras delicias de <span class="italic">Annie Gil</span></h1>
    </header>

    <NavBarCategories/>
</Layout>