---
import Serves from '@assets/serves.svg';

interface Props {
    id: number;
    name: string;
    price: number;
    serves: string | null;
}

const {id, name, price, serves} = Astro.props;
---

<a href={`/cake/${id}`} class="border rounded-lg border-neutral-200 shadow">

    <div class="px-3">
        <span class="block text-center text-xl">{name}</span>
        <div class="flex gap-3 justify-center">
            <span>CUP: {price}</span>
            <span class="inline-flex gap-1"><Serves stroke-width={1.5}/>{serves}</span>
        </div>
    </div>
</a>