---
/**
 * TODO: Reescribir esto con solid para poder usar el transition:persist y que sea mas natural la interaccion  
*/

import { db, Categories } from "astro:db";

const categories = await db.select().from(Categories);
const pathname = Astro.originPathname.split('/').at(-2);
---

<nav class="px-8 sticky top-5 bg-white/40 backdrop-blur-xs rounded-full shadow z-50">
    <ul id="navbar-scroll" class="flex flex-nowrap gap-3 overflow-x-scroll">
        {
            categories.map(({id, label})=> (
                <li class="py-3 grow">
                    <a href={`${id}`}>
                        <span class="uppercase text-nowrap">{label}</span>
                        {
                            pathname === String(id)
                                ? <hr transition:name="select-navbar-categories" class="border-t-2 border-rose-400">
                                : <hr class="border-t-0">
                        }
                    </a>
                </li>
            ))
        }
    </ul>
</nav>