---
import '../styles/global.css';

import { ClientRouter } from 'astro:transitions';

import NavBar from '@components/NavBar.astro';
---

<!doccategory html>
<html lang="en">
	<head>
		<ClientRouter/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="fixed top-0 -z-50 h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>

		<main class="mb-18.75 px-5 flex flex-col gap-12">
			<slot />

			<NavBar/>

			<footer>
				<p class="text-center">2026 creado por Pablo A.</p>
			</footer>
		</main>
	</body>
</html>